@import "tailwindcss";

@font-face {
  font-family: "Comico";
  src: url("/fonts/Comico-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shantell";
  src: url("/fonts/Shantell_Sans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shantell";
  src: url("/fonts/Shantell_Sans-Regular-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

html {
  background-color: #f2f4e7;
}

h1,
h2 {
  font-family: "Comico";
}

p,
li {
  font-family: "Shantell";
}

@theme {
  --color-primary: #9e3232;
  --color-secondary: #fffef6;
  --color-accent: #fff7a1;
  --color-shadow: #631313;
}

@utility card-brutal {
  @apply relative py-8 pr-8 pl-10 rounded-[20px] border-6;

  &::after {
    content: "";
    @apply absolute inset-0 -z-10 translate-x-5 translate-y-5 rounded-[28px];
  }
}

.checkered-stripe-svg {
  @apply w-[200%] h-full will-change-transform block;
}

#pepperoni-slice {
  & > #color {
    @apply hidden group-hover:block;
  }
  & > #base-color {
    @apply fill-secondary group-hover:fill-[#f2d4b3];
  }
  & > #shadow {
    @apply fill-primary group-hover:fill-shadow;
  }
}

#margherita-slice {
  & > #base-details {
    @apply hidden group-hover:block;
  }
  & #cherry {
    @apply fill-secondary group-hover:fill-[#F06165];
  }
  & #leaf {
    @apply fill-secondary group-hover:fill-[#8ED394];
  }
  & > #base-color {
    @apply fill-secondary group-hover:fill-[#f2d4b3];
  }
  & > #shadow {
    @apply fill-primary group-hover:fill-shadow;
  }
}
